src/Feature/CDN/code/Web References/AkamaiPurgeCache/PurgeRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.akamai.com/purge" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:purgedt="http://www.akamai.com/purge" name="PurgeRequest" targetNamespace="http://www.akamai.com/purge" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.akamai.com/purge">
      <xsd:complexType base="soap:Array" name="ListOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="PurgeResult">
        <xsd:sequence>
          <xsd:element name="resultCode" type="xsd:int" />
          <xsd:element name="resultMsg" type="xsd:string" />
          <xsd:element name="sessionID" type="xsd:string" />
          <xsd:element name="estTime" type="xsd:int" />
          <xsd:element name="uriIndex" type="xsd:int" />
          <xsd:element nullable="true" name="modifiers" type="purgedt:ListOfString" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="purgeRequest">
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="pwd" type="xsd:string" />
    <wsdl:part name="network" type="xsd:string" />
    <wsdl:part nullable="true" name="opt" type="purgedt:ListOfString" />
    <wsdl:part name="uri" type="purgedt:ListOfString" />
  </wsdl:message>
  <wsdl:message name="purgeRequestResponse">
    <wsdl:part name="return" type="purgedt:PurgeResult" />
  </wsdl:message>
  <wsdl:portType name="PurgeApi">
    <wsdl:operation paramOrder="name pwd network opt uri" name="purgeRequest">
      <wsdl:input name="purgeRequest" message="purgedt:purgeRequest" />
      <wsdl:output name="purgeRequestResponse" message="purgedt:purgeRequestResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PurgeApiSOAPBinding" type="purgedt:PurgeApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="purgeRequest">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="purgeRequest">
        <soap:body use="encoded" namespace="http://www.akamai.com/purge" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="purgeRequestResponse">
        <soap:body use="encoded" namespace="http://www.akamai.com/purge" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurgeApi">
    <documentation>Provides programmatic purge access </documentation>
    <wsdl:port name="PurgeApi" binding="purgedt:PurgeApiSOAPBinding">
      <soap:address location="https://ccuapi.akamai.com:443/soap/servlet/soap/purge" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>